.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.25rem 2rem;
    box-shadow: 0px 1px 7px rgba(0,0,0, 0.5);
}

.title{
    color: black;
    font-weight: bold;

}

.btn{
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.89rem;
}